[2017-04-08 06:05] billimarie opened #1 "[CODE] Search input"
Search cycles through entire database; should include:

- [x] buttons for filtering
  * [x] alphabetical
  * [x] state
  * [x] demographics
  * [x] role
- [x] text search

[2017-04-08 14:58] billimarie opened #2 "Create .hb page templates for Attorney General data"
- [x] front links to individual page
- [x] .hb page template

Consider everything upon a single page. Consider hiding. Click and seek.

[2017-04-08 15:25] billimarie opened #3 "[DATA] Figure out nuances of government attorney classification"
# Notes

## State
- township/municipal (city) prosecutors
- county prosecutors (DA, ADA)
- state attorney general (state)

## Federal
- us attorney general (federal)

### Classification Ideas
- think about what each section is *responsible* for
  * **unique authority type** of each section (which the others don't have)
  * EX: zoning laws and ordinances = township/municipal (city)

[2017-04-09 17:33] billimarie opened #4 "[DATA] Complete installation documentation"
Update wiki with complete steps on how to contribute

[2017-04-09 17:36] billimarie opened #5 "[DATA] Quick video tutorials on how to contribute"
Separate tutorials for three steps:

1. [ ] Add Attorney Research
2. [ ] Add Research to Dataset
3. [ ] Add Data to Codebase

[2017-04-11 07:50] billimarie opened #6 "[DATA] Research upcoming elections"
- [ ] get data re: upcoming elections
- [ ] .JSON
- [ ] Handlebars

[2017-04-12 21:16] #2 closed

[2017-04-12 21:18] billimarie opened #7 "Update Attorney General data"
- [x] websites
  * [x] url
  * [x] Google News
  * [x] Wikipedia

[2017-04-12 23:39] #7 closed

[2017-04-13 01:37] billimarie opened #8 "[INSTALL] Update workflow"
Make a more efficient `master` to `gh-pages` workflow.

[2017-04-13 01:56] billimarie opened #9 "[APP] Finalize Attorney General template page"
- [ ] update .handlebars template
- [ ] add data to JSON
- [ ] fix CSS

[2017-04-13 16:23] #8 closed

[2017-04-13 22:22] billimarie opened #10 "[APP] Update main page content"
- [ ] about
- [ ] add
- [ ] main
- [ ] additional pages?

[2017-04-14 01:43] billimarie opened #11 "[APP, DATASET] How to organize prosecutors: role vs. map vs. zip code"
Currently, **light-pollution** organizes via role:

![Light Pollution: Attorney General, U.S. Attorney, District Attorney, Municipal, City, and County Attorney](https://cloud.githubusercontent.com/assets/6895471/25030231/9b30245c-2091-11e7-829e-cc7c774bf844.gif)

Because the names of each role differ depending on the federal, state, and local level, this is problematic.

The new idea is to organiz

[2017-04-15 03:34] billimarie opened #12 "[CODE] [DESIGN] Create inline form for attorney edits and submissions"

[2017-04-26 19:01] billimarie opened #13 "[CODE] Convert date format"
re: appointed date (see US Attorneys)

Convert .json dates to human-friendly `month day, year` format
(conversely: change .json dates to human-friendly format. potential issue: organization)

[2017-04-30 20:18] billimarie opened #14 "[CODE] [DATA] Election Data: Issues with Gathering"
- [x] write Election Data methodology
- [ ] update Election Data methodology

[2017-05-12 18:09] billimarie opened #15 "[CODE] Create REST API"
- [ ] [Node.js RESTful API](https://www.codementor.io/olatundegaruba/nodejs-restful-apis-in-10-minutes-q0sgsfhbd)
  * [ ] beyond prototype: Amazon API Gateway
- [ ] Postman
- [ ] MongoDB

[2017-05-13 04:30] billimarie opened #16 "[DATA] Brainstorm concrete list of relevant data to look for"
Potential:
- [x] Party Affiliation
- [ ] Stance on Issues
- [ ] Sentencing History
- [ ] Demographics

[2017-05-13 04:38] billimarie opened #17 "[DATA] Brainstorm data collection methodology"
Potential:
- [ ] Scrapping via Python scripts
- [ ] Requesting court records (fee)
- [ ] Utilizing crime statistics/data
- [ ] LexisNexis/WestLawNext legal libraries

Current:
- [ ] Googling candidate name; inserting data into a spreadsheet

[2017-05-13 04:39] billimarie opened #18 "[DESIGN] Philly DA candidate page"

[2017-05-13 04:41] billimarie opened #19 "[CODE] Create template for Philly DA candidates page"
- [ ] HTML
- [ ] CSS
- [ ] Handlebars

[2017-05-13 04:49] billimarie commented on #11
[Fixed](https://drive.google.com/open?id=0B9cqp4PZ4Q09YWhKNHpwYzJvWFk) during a CLASP Datathon (04/30): local, state, federal. Zip code search for local, state search for state.

[2017-05-13 04:49] #11 closed

[2017-05-13 04:52] billimarie commented on #3
[No longer relevant](https://github.com/billimarie/light-pollution/issues/11), as organizing via locale (versus role)

[2017-05-13 04:52] #3 closed

[2017-05-13 04:52] billimarie opened #20 "[CODE] Create "Philly May 16th Election" ribbon"
- [x] HTML
- [x] CSS

[2017-05-13 04:53] billimarie opened #21 "[CODE] (Optional) Create visualizations based on Philly DA candidate trends"
- [ ] d3.js

[2017-05-15 04:29] billimarie opened #22 "[APP] From Handlebars/Gulp to Meteor Build"
🚀

[2017-05-15 21:42] #22 closed

[2017-05-15 21:42] #20 closed

[2017-05-20 03:53] #18 closed

[2017-05-20 03:53] #19 closed

[2017-06-23 05:45] Vishwajeetsinh98 commented on #15
Please explain from where we need to access the data for the API? I'm willing to submit a pull request for this issue.

[2017-07-04 07:47] M-ZubairAhmed commented on #13
i will take this one

[2017-08-02 23:00] billimarie commented on #13
Hi @M-ZubairAhmed, thanks for checking it out.

Each attorney entry in the database is formatted in JSON:
`{
    "_id": {
        "$oid": "5919ed1c734d1d1cd0be9d88"
    },
    "attorney-id": "ua-al-m",
    "name": "A. Clark Morris",
    "role": "U.S. Attorney",
    "state": "Alabama",
    "district": "Middle District of Alabama",
    "appointed": "2017-03-11"
}`

As you'll notice, the "appointed d

[2017-08-02 23:05] billimarie commented on #15
Hi @Vishwajeetsinh98, thanks for checking this out.

Unfortunately there is no complete data source--we are just making our own based on manual research. You can see our results here (on an older branch): https://github.com/billimarie/light-pollution/blob/gh-pages/data/prosecutors.json

We're hoping to update this to something more elegant when we get more data. If you have any ideas, please feel

[2017-08-17 12:44] DanielStoica85 commented on #10
Hi! Is this project still in progress?

[2017-08-22 00:13] billimarie commented on #10
Hi @DanielStoica85! Yes, this project is still in progress. Haven't made any updates in the past few months but would love any help you can offer.

[2017-08-22 08:22] DanielStoica85 commented on #10
Hi @billimarie!
Well, I do not have much experience in development, so I am looking for projects where I can help and also gain experience. And I found your project on a list of such projects. And I seem to keep repeating the word "proects". :)
Do you plan on finishing it, though?

[2017-10-01 17:55] matthewgallo opened #25 "Fix indentation in client/main.css"

[2017-10-18 13:19] antoschd commented on #9
@billimarie I would like to help you. What are the next steps? Decide what data should be added?

[2017-10-29 21:29] callan-stretton commented on #13
I'll see if I can figure it out...

[2017-10-31 14:17] #25 closed

[2017-11-09 15:46] loangelak commented on #10
@billimarie - would love to assist in any way that I can on updating content.

[2017-12-28 16:54] extremelypenguin commented on #13
Hey, i'd be interested in doing this. Where is the json located?

[2018-03-11 20:20] billimarie commented on #10
@DanielStoica85 We're looking for help with gathering data (which does not require any development experience) as well as updating the prototype (which requires some experience in HTML, CSS, and JavaScript, as we're using Meteor.js).

We meet remotely every Sunday to work on the Prosecutor Database. You are welcome to join us; feel free to send me an email (see my GitHub profile).

[2018-03-12 12:45] DanielStoica85 commented on #15
I might be able to help with this, but I would need you to add more details (requirements).

[2018-03-16 19:50] #21 closed

[2018-03-16 19:56] billimarie commented on #21
As lovely as this is, I'm closing this issue (for now) with hopes that we can return to data visualizations and statistical trend analysis when the project is fully developed.

[2018-03-17 14:11] AbiSadhasivam commented on #15
Is this still open?

[2018-04-17 00:26] billimarie commented on #15
Hi everyone,

This issue is now closed. Please see this pull request for more information: https://github.com/billimarie/prosecutor-database/pull/27

[2018-04-17 00:26] #15 closed

[2018-04-17 00:30] billimarie opened #28 "Data Scraping: District Attorneys"
We've been manually Googling, copying, and pasting information about local prosecutors through their official websites, Wikipedia entries, and state attorney websites (if available).

It would be amazing if a data scraping method can be achieved. That way, the volunteer labor will go into verification instead of extensive Google researching.

Categories to start with (requirements):
- Name
- Role

[2018-04-19 01:00] billimarie opened #29 "[APP] Reset Filter"
This is about the **USPD web app** (NOT the GitHub repo)

Using BEF, the reset button doesn't appear if the filter is placed as a block (ex: sidebar).

[2018-06-08 16:08] ashleyamin commented on #4
Hey Billimarie - this sounds like a cool and impactful project! I wanted to contribute, but it took me a while to find the installation documentation. I'd suggest moving it to the main README.md so others don't need to dig when just getting started. I'll take a look at the other issues too.

[2018-06-12 18:20] Thai56 commented on #13
In api/data/usAttorneys.js I changed the "appointed" date to be a unix time stamp so that it would be easier to sort. In client/templates/sections/current-prosecutors.html I updated the appointed section to display month-day-year. When I open up localhost:3000 I am not able to see anything.

[2018-06-18 15:30] billimarie commented on #13
Thanks for the assistance, everyone. Closing out thanks to @Thai56's pull-request: #31

[2018-06-18 15:30] #13 closed

[2018-06-18 15:36] billimarie commented on #4
Hi @ashleyamin,

Thanks for the recommendation. I'm hoping to restructure the repo sometime this week--as it's out of date with our current/local work, since we've migrated from Meteor.js to Drupal 8 for easier data management. I'd love any assistance you can offer for installation documentation. Please feel free to send me an email at work@billimarie.com.

Best,
Billimarie

[2018-06-19 16:19] #12 closed

[2018-06-19 16:19] #14 closed

[2018-06-19 16:19] #16 closed

[2018-06-19 16:19] #17 closed

[2018-06-19 16:19] #5 closed

[2018-06-19 16:19] billimarie commented on #4
Closing, as I've updated the repo to reflect the aforementioned changes.

[2018-06-19 16:19] #4 closed

[2018-06-19 16:21] billimarie commented on #1
Closing, as web app now supports the above features.

[2018-06-19 16:21] #1 closed

[2018-06-19 16:23] billimarie commented on #9
Hi @antoschd,

Are you still interested in contributing? We are actively seeking data collectors (see: [README.md](https://github.com/billimarie/prosecutor-database). We are also seeking front-end/UX/UI developers to assist with designing and developing the look and functionality of individual attorney cards/teasers.

Best,
Billimarie

[2018-06-19 16:28] billimarie commented on #6
Closing out, as I'm cleaning out old issues.

[2018-06-19 16:28] #6 closed

[2018-06-19 16:51] arti5m commented on #28
That’s good news.

[2018-07-15 15:16] billimarie opened #36 "[TUTORIAL] Basic Introduction"
An easy to read, simple, clean instruction manual for those who are not developers by trade.

[2018-07-15 15:47] davidth4ever2 commented on #36
Nice

On Jul 15, 2018 11:16 AM, "Billimarie Lubiano Robinson" <
notifications@github.com> wrote:

An easy to read, simple, clean instruction manual for those who are not
developers by trade.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/billimarie/prosecutor-database/issues/36>, or mute the
thread
<https://g

[2018-07-15 16:08] davidth4ever2 commented on #36
Also,I found that the Washington post has a database as well.

So far there has been almost 600, police shooting ending in death.

On Sunday, July 15, 2018, Billimarie Lubiano Robinson <
notifications@github.com> wrote:

[2018-07-18 04:00] billimarie commented on #36
@davidth4ever2 Yes, the WP has an effective and clean method for presenting that data: [2018 Police Shootings Database](https://www.washingtonpost.com/graphics/2018/national/police-shootings-2018/).

[2018-08-26 16:18] billimarie opened #44 "[APP] Add anon prosecutor thumbnail"
Add an anonymous thumbnail for prosecutors without headshots.

[2018-10-04 21:10] dylmye commented on #36
Hello! I found this issue from up-for-grabs. Are you still asking for help with this as I see you've published [this](https://billimarie.github.io/prosecutor-database/#google)? Thanks :)

[2019-10-24 19:32] billimarie opened #47 "#Hacktoberfest Request: Add additional prosecutors to the database"
**Request**
Though the app isn't actively being maintained, we're still looking for data help when it comes to configuring a reliable list of prosecutors. You can help by submitting a pull request with updated information about a state's prosecutors.

**Happy #Hacktoberfest!**

[2019-10-24 20:29] billimarie commented on #47
Detailed Instructions: https://github.com/billimarie/prosecutor-database#4-data-collection

[2019-11-02 19:01] #47 closed

[2019-11-03 06:43] billimarie commented on #36
Hi @dylmye, just seeing your comment! Feel free to make any improvements to the beginner documentation on the README.md file if you're feeling up to it. Thanks!

[2019-11-03 06:43] #36 closed

[2019-11-03 06:43] #29 closed

[2019-11-03 06:44] billimarie commented on #9
Hi @agnelnieves & @antoschd,

If you're still interested, please feel free to check out the Bootstrap card styles we're currently using: https://us-prosecutor-database.herokuapp.com/

Thanks!

[2019-11-03 07:10] billimarie opened #51 "[DATA] Merge `csv-json-data` with mLab instance"
Solves:
- Missing link between mLab instance & GitHub data contribs

Potential Issues:
- Keep or delete `csv-json-data` files?
- If delete: how to host an open/transparent dataset for non-devs, researchers, etc.?

[2019-11-03 07:16] billimarie opened #52 "[DATA] Update new .json format (specific fields for attorney cards/profiles)"
Needs:
- Headshot urls
- Social media links
- Recent articles
- etc.

[2019-11-03 07:24] billimarie opened #53 "[APP] Automate GitHub to Heroku deployment"

[2019-11-03 07:29] billimarie opened #54 "[DOCUMENTATION] Update `gh-pages` with proper documentation for Beginner, Intermediate, & Advanced"

[2019-11-03 07:34] billimarie opened #55 "[CODE] Clean Bootstrap Front-End (Responsive, Conventions, etc)"

[2019-11-03 07:36] billimarie opened #56 "[APP] Add d3.js"
🤯

[2019-11-03 07:38] billimarie opened #57 "[APP] Merge D8 entries with mLab"
- Screenshot entry from and post to #52 for ideas/context

[2019-11-03 07:40] billimarie opened #58 "[APP] Additional Filters"
- See D8 instance as an example (re: #57)

[2019-11-03 16:30] wnorrad commented on #36
This is a great idea - I’ll do this to hopefully help others!

Whit Norrad
289-696-3664

[2019-11-03 17:48] billimarie commented on #36
@wnorrad That would be wonderful, Whit! Thanks for your perspective and assistance.

[2019-11-03 23:17] billimarie opened #59 "[APP] Where to host headshot images?"
Currently, headshots are hotlinked from the pages they were scraped from.

What's the most accessible & sustainable practice for collecting headshots, so that everyone can contribute to uploading them?

[2019-11-03 23:31] billimarie opened #60 "[FEATURE] Current vs. Previous"
On an organizational/logic level, it's better to group by role/state/area rather than person, as the person can change but the position remains the same.

Idea: ability to filter based upon a specific office and read about the current & previous prosecutors. Can also help with identifying trends.

[2019-11-03 23:57] billimarie opened #61 "[BUG] Change "U.S. Attorney" to "US Attorney""
Filter issue

[2019-11-07 21:11] emilyedalton commented on #54
Hi, I'm interested in helping take on this issue. Do you have more details?

[2019-11-08 00:57] billimarie commented on #54
Hi @emilyedalton, thanks for reaching out.

The biggest hurdle is the lack of a tutorial / documentation on the repo's GitHub Pages: https://billimarie.github.io/prosecutor-database/. You'll notice the three cards simply reference external links (like the README.md). It would be great if there were three distinct pages on the website which documented each level of help ("beginner," "intermediate,"

[2019-11-08 14:50] emilyedalton commented on #54
Hello!

So if I'm understanding correctly, you need the information in the
readme(s) converted into a page following the same design and formatting of
the "Creating a List" page, and making any necessary content changes to aid
in clarity. Would all of this work take place in the gh-pages branch?

On Thu, Nov 7, 2019 at 6:57 PM Billimarie Lubiano Robinson <
notifications@github.com> wrote:

--
Emil

[2019-11-08 20:29] billimarie commented on #54
Yes! You got it. Would you like to take on the challenge?

[2019-11-08 20:30] emilyedalton commented on #54
I’m game! Lets do it.

[2019-11-10 15:53] emilyedalton commented on #54
One more quick question: Do you have a preferred timeline?

On Fri, Nov 8, 2019 at 2:30 PM Emily Dalton <emilyedalton@gmail.com> wrote:

--
Emily Dalton
emilyedalton@gmail.com
(248) 404-8381

[2019-11-10 19:54] billimarie commented on #54
No. Feel free to go at whatever pace is comfortable. Thanks for checking in!

[2019-11-22 04:41] billimarie opened #62 "[FEATURE] Pagination"
Instead of infinite scroll, pagination would be wonderful.

[2019-11-22 04:44] billimarie opened #63 "[FEATURE] Add total number of Prosecutors (dynamic)"
Something like, "we currently have [x] prosecutors listed."

Alternatively: "there are [x] prosecutors total. we currently have [x]."

[2019-11-22 04:54] billimarie commented on #59
The obvious answer might be the GitHub repository, itself.

If someone comes up with a better solution, feel free to comment. Closing for now.

[2019-11-22 04:54] #59 closed

[2019-11-29 23:41] billimarie commented on #54
Closing thanks to @emilyedalton & #64

[2019-11-29 23:41] #54 closed

[2019-11-29 23:43] billimarie opened #65 "[BUG] Mobile: "Vote" Ribbon"
On mobile view of the app, the "vote" ribbon gets in the way of the user experience.

(Additionally: need new link for the ribbon. Suggestions?)

[2019-12-13 20:36] jay-bis commented on #62
Hi! I'm looking to start making open source contributions, and thought this would be a great place to start. I haven't had time to look at the codebase yet, but this is definitely something I would be interested in working on.

[2019-12-15 20:15] billimarie commented on #62
Hi @jay-bis, thanks for reaching out! We'd love your contributions. Feel free to pull down the code on the `app` branch to take a peak under the hood. If you have any questions, you can always ping me via GitHub.

[2019-12-16 03:34] jay-bis commented on #62
I just started to take a peek - I'm not familiar with the meteor framework/mongoDB, what's the best way to get the attorney data up on my local system? As of now, after going through the setup instructions, there are no attorneys for me to look at.

[2020-01-28 15:25] aminamos commented on #61
@billimarie where should this be updated?

[2020-02-07 17:46] yonichanowitz commented on #63
on which page do you want this information displayed? the home page?

[2020-02-29 17:30] taylor-brudos commented on #56
Hi, can you please elaborate on how you would like d3.js to be implemented?

[2020-02-29 18:31] taylor-brudos commented on #65
Hi!  Since voting for prosecutors depends on your county/state, I think we should use this link which is an official US government website that instructs how to vote and provides links to do so:  `https://www.usa.gov/register-to-vote`.

[2020-02-29 18:32] taylor-brudos commented on #65
I'm working on updating the link and fixing the mobile view

[2020-02-29 18:34] taylor-brudos commented on #65
Here is the PR for updating the vote link:  https://github.com/billimarie/prosecutor-database/pull/69

[2020-02-29 20:54] taylor-brudos commented on #65
Here is the PR for updating the mobile ribbon UX: https://github.com/billimarie/prosecutor-database/pull/70

[2020-04-14 07:31] HughEks commented on #9
Hi @billimarie, I can take on the design, but not the implementation (not a coder). Does this help?

[2020-04-17 06:32] agnelnieves commented on #61
Hello @billimarie Did the fix, but not letting me push. Permission denied

[2020-05-02 03:47] alpe88 commented on #63
@yonichanowitz have you worked on this yet??

[2020-06-17 19:48] VirtualVulture opened #71 "Can't npm install on Windows 10"
When trying to use npm install in the repo/app, it provides an error saying that a certain package.json doesn't exist.

Steps to reproduce the behavior:
Try to npm install on Windows 10. I didn't do anything else.

I expected for the npm install to work.

npm provides a log of the error, listed below.

[code]

[2020-06-17 21:50] #71 closed

[2020-07-07 17:00] rcalimlim opened #72 "[BUG] README installation steps produce error"
**Describe the bug**
The README's installation instructions are not accurate and produce an `npm` error.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow **Advanced (Developer experience)** instructions for local dev environment setup.
2. `npm install` will produce:
[code]

**Expected behavior**
Installing dependencies from a fresh repo should correctly install dependencies without err

[2020-07-07 17:03] rcalimlim commented on #72
I've opened a PR for a fix to this issue.

[2020-07-10 18:35] rcalimlim commented on #72
@billimarie Hoping to get your feedback on this

[2020-07-22 15:38] #72 closed

[2020-07-23 14:52] billimarie commented on #65
Thank you, @taylor-brudos! Closing this issue, as you've solved it in both PRs.

[2020-07-23 14:52] #65 closed

[2020-07-23 15:16] billimarie commented on #61
Hi @aminamos @agnelnieves, thanks for your interest. This needs to be updated in the dataset, which is located on mLab. I assigned it to myself & will try to get that done by the end of the month.

If you'd like to contribute, I'll be adding more issues as I come across them. Please feel free to open up a ticket if you have a suggestion for improving the app.

[2020-08-05 23:05] billimarie opened #76 "[APP] Update Bootstrap & Bootswatch"
Bootstrap: https://www.bootstrapcdn.com/
Bootswatch: https://www.bootstrapcdn.com/bootswatch/?theme=17

[2020-08-06 06:25] billimarie commented on #55
Also: #76

[2020-08-26 23:02] billimarie opened #78 "[APP] Migrate from mLab to MongoDB Atlas"
Read: https://blog.mlab.com/2018/10/mlab-is-becoming-a-part-of-mongodb-inc/

Additionally: consider alternatives to MongoDB.

[2020-08-27 04:54] billimarie commented on #78
Migration complete. S/O to this person for the [MongoDB Atlas / Heroku workaround](https://forum.codewithmosh.com/d/2539-heroku-log-error-uncaughtexception-no-mongos-proxy-available/4).

[2020-08-27 04:54] #78 closed

[2020-08-27 05:45] billimarie commented on #53
Done via `app` branch: 39eba8da362151bf487e87a09bbdb8bf79feee36

[2020-08-27 05:45] #53 closed

[2020-08-27 05:46] billimarie opened #79 "[APP] Update Meteor without breaking"
Possible?

[2020-08-27 15:23] billimarie opened #80 "[ONGOING] District & State Attorney Data"
Please see the [README.md](https://github.com/billimarie/prosecutor-database/blob/master/README.md) before replying.

Once you've finished populating your sheet, comment below.

[2020-08-27 16:39] #79 closed

[2020-08-27 16:44] billimarie opened #81 "[DATA] Headshots links"
Test & update headshot links from `public`

[2020-08-27 21:06] billimarie commented on #44
Resolved: 2acb9b5d0225a090899ecd9418e2839f56265b87

[2020-08-27 21:06] #44 closed

[2020-08-27 21:09] #81 closed

[2020-08-28 00:03] billimarie opened #82 "[FEATURE] Add "Dump Cop Cash" Field & Add DA Data"
See: https://dumpcopcash.com/

Idea: Add boolean field in fundraising campaign under "Police Union Contributions"

[2020-09-01 12:34] billimarie opened #83 "[APP] Fix "Appointed" Date"
Update code to render Appointed dates

[2020-09-01 12:36] billimarie opened #84 "[APP] Add "Elected" Date"
If appointed, show appointed date (see: #83)

Else, show elected date (must be configured via code + added in data)

[2020-09-04 11:57] syeedameen commented on #80
Greetings of the day madam , I am a beginner in open source .
I would like to work on this.
And I am also taking part in Hacktoberfest , So can I contribute to it in October.

[2020-09-05 16:25] billimarie commented on #80
Hi @syeedameen, thank you for reaching out. You are welcome to join us as we embark upon Prep-tember & Hacktoberfest. Feel free to follow the instructions listed above, then submit your pull request. If you have any questions, I can be reached here or through email (link in profile).

[2020-09-06 18:10] andrefpoliveira commented on #80
Hey! I would like to work on this for the Hacktoberfest if possible 😁

[2020-09-06 19:31] billimarie commented on #80
Hi @andrefpoliveira, thanks for reaching out. It's a collaborative issue so please feel free to tackle it. Let me know if you have any questions about setting up.

[2020-09-08 23:19] not-a-designer commented on #9
@billimarie have you looked into the Ionic framework for UI? its a little more mobile friendly than plain old bootstrap with ios and md spec baked in

[2020-09-09 01:23] billimarie commented on #9
Hi @HughEks, that's no worry--I can implement your design if you're still able to contribute.

[2020-09-09 01:26] billimarie commented on #9
@not-a-designer I have looked into Ionic--I'm playing around with the [Ionic Conference App](https://github.com/ionic-team/ionic-conference-app) for a different project. Haven't tested out their UI Framework yet, but it looks gorgeous. Would you be interested in porting Ionic UI over to replace Bootstrap? Can create a new issue for you if so. Thanks for the suggestion.

[2020-09-11 13:28] ElijahAhianyo commented on #84
hi, first timer here. can i work on this?

[2020-09-12 17:11] billimarie commented on #84
Hi @ElijahAhianyo, go for it! Feel free to comment or email me if you have any issues.

[2020-09-17 16:10] micohrocode commented on #63
If no one is currently working on this feature I would like work on it as a part of a school project and as my first contribution on GitHub.

[2020-09-18 17:57] billimarie commented on #63
@yonichanowitz @alpe88 @micohrocode Hi everyone, if anyone would like to give this issue a shot, please be my guest. Leave a comment & I'll assign you a ticket. The information should be displayed on the homepage; use your best judgement in terms of wording, design, layout, etc. Thanks!

[2020-09-18 18:06] micohrocode commented on #63
I would like to give this issue a shot.

[2020-09-18 20:14] billimarie commented on #63
@micohrocode Sounds good--if you have any questions, feel free to ping me here or over email (link in profile).

[2020-09-25 19:58] jSadoski commented on #55
As this is the most recently opened issue about front-end, I'd like to use this space to say I'd help out! I have a couple of questions to help get #9, #76, and this issue closer to completion.

I'm wondering what the current goals are for the front-end. I see that we're currently using Bootswatch/spacelab](https://bootswatch.com/spacelab/) as our Bootstrap theme. I think it works for now, and whe

[2020-09-26 00:02] dylancaponi commented on #80
Step 1 worked with `git clone https://github.com/billimarie/prosecutor-database.git`

[2020-09-26 00:12] dylancaponi commented on #80
@billimarie What's the best way to just update missing photos or profiles with partial information?

[2020-09-26 18:17] jSadoski commented on #80
@dylancaponi If you feel comfortable diving into the .json file where the information exists and changing the values there, `git` will track those changes so you can upload them to GitHub!

[2020-09-27 21:17] dylancaponi commented on #80
@jSadoski I'd much rather do that but I don't see the json files in master or hacktoberfest branches.

I do see them in PRs that were merged like this one: https://github.com/mattkduran/prosecutor-database/tree/master/csv-json-data

Where is that data getting merged?

[2020-09-27 22:38] jSadoski commented on #80
I was just noticing in the project that I think the data was restructured. It's now just .js files under `./api/` I believe.

[2020-09-30 03:54] billimarie commented on #80
@dylancaponi @jSadoski Yes, the data is vetted first through this repo under the `api` folder. Once it has been verified, I import the new entries into a MongoDB database, which the live Heroku instance then pulls from.

[2020-09-30 04:14] billimarie commented on #55
@jSadoski thanks for volunteering to contribute to the front-end. Ideally, it'd be great to have a completely new theme--using a Bootswatch theme was a temporary solution for the prototype. If you'd like to take on the task of revamping the theme & layout, please feel free! We can create a new issue & assign it to you. Otherwise, feel free to tackle #9 for a smaller win.

[2020-09-30 04:15] #76 closed

[2020-09-30 04:23] #51 closed

[2020-10-01 03:38] jSadoski commented on #55
Sounds good. I'll be taking a look at #9 soon.

If anyone is interested in helping with the design of a front-end, I'd be willing to work with them on implementation!

[2020-10-01 08:04] satanb4 commented on #82
Hi @billimarie Would like to take a look into this. What is the specific requirement?

[2020-10-01 15:26] billimarie commented on #82
Hi @satanb4, thanks for your interest. I thought a "Police Union Contributions" label would be a great thing to add to attorney cards & profiles. As far as implementation & design goes, there's no specific requirement. Feel free to tackle this issue if you have any ideas.

[2020-10-01 20:18] billimarie commented on #55
Quick note: @06b has fixed the responsive issue for the attorney cards (#90)

[2020-10-01 20:19] billimarie commented on #9
Quick note: @06b has fixed the responsive issue for the attorney cards (#90)

[2020-10-01 20:19] billimarie commented on #82
Done. Good luck & feel free to ping me if you have any questions.

[2020-10-01 21:08] billimarie opened #92 "[DOCUMENTATION] Update Hackathon Docs with Forking Instructions"
See: https://github.com/billimarie/prosecutor-database/blob/master/HACKTOBER2020.md

[2020-10-01 21:41] caseyryan22465 commented on #92
I'll work on this

[2020-10-01 21:47] billimarie commented on #92
Assigned--thanks, @caseyryan22465.

[2020-10-01 22:23] billimarie opened #94 "[APP] Add "Recent Article" generic thumbnail"
When articles don't have featured images, show a generic thumbnail.

[2020-10-01 23:41] #92 closed

[2020-10-02 00:09] baspalinckx commented on #94
Would love to help! Can you assign me please?

[2020-10-02 01:00] billimarie commented on #94
Assigned--good luck & feel free to ping me if you have any questions.

[2020-10-02 01:24] hicks2evan commented on #83
Hey, first time here. Mind if I pick this one up?

[2020-10-02 01:36] billimarie commented on #83
@hicks2evan Go for it! Please feel free to ping me if you have any questions (getting setup locally, rendering data on a local instance, etc).

[2020-10-02 01:47] hicks2evan commented on #83
Hey @billimarie thanks for the quick response. I got the repo pulled and installed meteor and started the app. Looks like my local Mongo might not have any data...? Tips on seeding some test data?

[2020-10-02 02:14] billimarie commented on #83
Got you covered: see ["To play around with data"](https://github.com/billimarie/prosecutor-database/blob/master/DOCS.md#4-web-app-development)

[2020-10-02 04:54] billimarie opened #101 "[APP] Update "Appointed" format"
See: Issue #83 & corresponding PR #100

Now that the "appointed" card footer appears conditionally, update the database entries to show formatted `appointed` dates.

[2020-10-02 04:59] #83 closed

[2020-10-02 05:01] billimarie commented on #84
Hi @ElijahAhianyo, just a heads up: for a separate issue (#83), @hicks2evan submitted a fix for the appointed conditional logic. Feel free to check it out if you'd like inspiration for the election conditional.

[2020-10-02 07:02] billimarie opened #103 "[CODE] Fix "Recently Updated""
On the homepage, there's a "Recently Updated" section which--theoretically--should render the most recent database entries.

[2020-10-02 07:18] michaelknowles commented on #103
I'd like to work on this one.  Did you have any thoughts on how you'd like this to look?  How many entries to display (i.e. should it display _everything_ from the latest update)?

[2020-10-02 11:50] billimarie commented on #103
Hi @michaelknowles, great questions. Feel free to implement according to your best judgement. I'd prefer a limit that works with the pagination, because--like you said--there are more & more attorneys being added.

[2020-10-02 13:00] billimarie opened #104 "[DESIGN] Brainstorm Voting/Election Features"
In conjunction with the web app's theme overhaul (#55), here is a small design request.

On the Attorney Page view, the main hero section which contains the Attorney Profile information (name, role, state, headshot, address, contact, websites) needs to be redesigned:

<img width="1147" alt="Screen Shot 2020-10-02 at 5 52 22 AM" src="https://user-images.githubusercontent.com/6895471/94925446-159907

[2020-10-02 13:22] prajeshkumarg commented on #104
Hey, I have some experience with UI/UX and Graphic Designing, can I take up this issue

[2020-10-02 13:27] billimarie commented on #104
@prajeshkumarg Thanks for volunteering. Good luck & feel free to ping me if you have any questions.

[2020-10-02 13:36] billimarie opened #105 "[DESIGN] New Theme for Entire Web App"
Years ago when this project first started, I picked a basic Bootstrap theme to implement so that the prototype could be spun up quickly & without hassle.

Now that this project is maturing, it needs a designer (or someone with a good sense of website / web app aesthetics) to thoughtfully construct a design system that we can use throughout the entire app.

Important Design Components include:
- At

[2020-10-02 13:37] billimarie commented on #9
Additional note: added new issue for overhauling the entire theme (#105)

[2020-10-02 15:07] prajeshkumarg commented on #105
Hey I would like to take a look at the Figma link

[2020-10-02 17:35] AnjanaMA commented on #105
I'm interested in the redesign :)

[2020-10-02 17:35] jSadoski commented on #105
Jumping in here to offer to collaborate with others! I've never used Figma, looks like a very interesting tool.

[2020-10-02 17:41] billimarie commented on #94
Completed via #97.

[2020-10-02 17:41] #94 closed

[2020-10-03 05:49] lucid-dreem commented on #105
I'd be happy to help as well

[2020-10-03 15:26] billimarie commented on #103
@michaelknowles solved this with PR #108

[2020-10-03 15:26] #103 closed

[2020-10-03 16:25] billimarie commented on #62
@jay-bis Would love to have you contribute if you're still working on open-source. I assigned this issue to you in case you see this note & have time to take a look. The app has changed a bit since we last spoke.

[2020-10-03 16:49] billimarie commented on #52
This is done.

[2020-10-03 16:49] #52 closed

[2020-10-03 17:34] billimarie opened #109 "[CODE] Add "Location (State)" Filter"
Background: please see #58 for a roadmap of the Additional Filters request.

We currently have a basic filtering system for filtering through prosecutors by **role**.

This feature request is for implementing an additional filter, which filters based upon **location (state)**.

Ideally, this would be a drop-down or an auto-populated text input. If you have any ideas on how to implement this, pleas

[2020-10-03 17:38] billimarie opened #110 "[CODE] Add "Appointed" Filter"
Background: please see #58 for a roadmap of the Additional Filters request.

We currently have a basic filtering system for filtering through prosecutors by **role**.

This feature request is for implementing an additional filter, which filters based upon whether a prosecutor has been **appointed** (or not).

Ideally, this would be a rendered as a checkbox. If you'd like to tackle this issue, plea

[2020-10-03 17:41] billimarie opened #111 "[CODE] Add "Party Affiliation" Filter"
Background: please see #58 for a roadmap of the Additional Filters request.

We currently have a basic filtering system for filtering through prosecutors by **role**.

This feature request is for implementing an additional filter, which filters based upon a prosecutor's **party affiliation**.

What would be the best form element to render this as? Checkboxes? If you have any ideas, feel free to co

[2020-10-03 17:46] billimarie opened #112 "[CODE] Add "Age Range" Filter"
Background: please see #58 for a roadmap of the Additional Filters request.

We currently have a basic filtering system for filtering through prosecutors by **role**.

This feature request is for implementing an additional filter, which filters based upon a prosecutor's **age range**.

What would be the best form element to render this as? Checkboxes? If you have any ideas, feel free to comment.

[2020-10-03 17:50] billimarie opened #113 "[CODE] Add "Race" Filter"
Background: please see #58 for a roadmap of the Additional Filters request.

We currently have a basic filtering system for filtering through prosecutors by **role**.

This feature request is for implementing an additional filter, which filters based upon a prosecutor's **race**.

What would be the best form element to render this as? Checkboxes? If you have any ideas, feel free to comment.

[2020-10-03 17:55] billimarie opened #114 "[CODE] Add "Gender" Filter"
Background: please see #58 for a roadmap of the Additional Filters request.

We currently have a basic filtering system for filtering through prosecutors by **role**.

This feature request is for implementing an additional filter, which filters based upon a prosecutor's **gender**.

Ideally, this would be rendered as radio button choices. If you would like to take on this issue, please leave a com

[2020-10-03 17:57] billimarie opened #115 "[CODE] Add "Location (County)" Filter"
Background: please see #58 for a roadmap of the Additional Filters request.

We currently have a basic filtering system for filtering through prosecutors by **role**.

This feature request is for implementing an additional filter, which filters based upon a state's **county**.

In order for this to work, **Filter Location by State (#109)** must be complete. You can tackle that one first, or both t

[2020-10-03 18:10] billimarie commented on #105
Wonderful--can each of you send me an email? (Link in profile) That way I can invite you to the Figma file.

[2020-10-03 18:26] adamellsworth commented on #62
I'd be happy to tackle this (it looks like the other comment was made a year ago).

One question I had was the `./api/*.js` files. Are those just mock data to be imported for testing purposes or for reference? The code doesn't seem to reference them anywhere.

[2020-10-03 18:36] Zoe7 commented on #114
Hi @billimarie, I'd like to help with this 🙂

I'm not super familiar with meteor (I'm more a react/typescript dev), but I've had a look around the codebase and it doesn't look like rocket science, so I think I can figure it out!

If I'm on a roll, I could also add some of the other filters too, since the code should be very similar for each of them.

[2020-10-03 18:50] billimarie commented on #114
Hi @Zoe7, thanks for volunteering. We'd love to have your contributions.

If you're familiar with React, I believe you will catch the gist of Meteor after you play around for a bit. Feel free to tackle the other issues if you're able! Good luck & let me know if you run into any issues setting up.

[2020-10-03 18:57] CodeSmitty commented on #112
What about a input or drop box where you can search "Up to a certain age".  Or even do a slider to select the age number.
Might be easier than doing a 21- 35.

[2020-10-03 19:00] billimarie commented on #112
@CodeSmitty The idea of a slider to select the age range is brilliant. I'm not sure how to go about coding it; if you (or anyone else) would like to give it a shot, that would be wonderful.

[2020-10-03 19:02] AnjanaMA commented on #105
m.arun.anjana@gmail.com

[2020-10-03 19:02] billimarie commented on #62
Thanks for volunteering, @adamellsworth. It might help to take a look at @jay-bis's pull request here: #66

[2020-10-03 19:05] CodeSmitty commented on #112
I would definitely like to give it a shot. I'm a newbie developer so I hope to get it done :)

[2020-10-03 19:07] billimarie commented on #112
That's great. Absolutely no pressure--just have fun figuring it out, & feel free to ping me if you have any questions.

[2020-10-03 19:31] CodeSmitty commented on #112
Will I need to install meteor and choco?

[2020-10-03 19:55] billimarie commented on #112
@CodeSmitty Are you using Windows? If so, yes--you can read instructions on how to install Meteor here: https://www.meteor.com/install#!

[2020-10-03 22:59] billimarie commented on #60
First attempt:

<img width="783" alt="Screen Shot 2020-10-03 at 3 58 36 PM" src="https://user-images.githubusercontent.com/6895471/95003174-64888f00-0591-11eb-9258-b25d0620b9d2.png">

[2020-10-04 03:17] shariq1989 commented on #80
FYI for newcomers. If you fail on _step 3_ after running _git fetch_ like below:
`git fetch origin hacktober2020
fatal: Not a git repository (or any of the parent directories): .git`

You have to run `cd prosecutor-database\` and then run the _git fetch_ command

[2020-10-04 03:48] erinborders commented on #115
I'd like to work on both this and #109!

[2020-10-04 04:28] CodeSmitty commented on #112
I'm not sure if I can make it work. I can't seem to understand how meteor works.

[2020-10-04 04:59] fedGL commented on #80
I've collected information and I'm ready to commit my CSV!

[2020-10-04 08:37] Zoe7 commented on #114
Thanks, I got the project up and running yesterday evening so I'll get to coding today.

I thought a little bit about it last night and I think you'd be better served with checkboxes (in most of the filtering cases). Radio buttons are awkward for this since they normally should be pre-filled and you're can't unselect them, so you'd have to add an "any" option. IMO the filtering would be more flexi

[2020-10-04 11:32] Zoe7 commented on #114
Sorry, me again!

I have been digging into the code some more, and the role filter is implemented in a somewhat funky way right now. There is a filter helper in the template, but the way it's being displayed is through rendering all 5 possible lists in tab-panes and then using bootstrap to control what tab-pane is being shown to the user.

The way that's implemented really won't allow scaling othe

[2020-10-04 14:20] Zoe7 commented on #114
I made a small PR to try to improve the role filter code so that we can start expanding upon it with other filters: https://github.com/billimarie/prosecutor-database/pull/125
I hope that you don't mind me just going ahead with this, but given that we have a pretty big time difference I figured I'd just start with it as to not delay things too much.

[2020-10-04 14:40] billimarie commented on #114
Wonderful brainstorming, @Zoe7! Thank you for sharing your thinking, curiosity, & mindfulness.

You're right about the checkboxes. The link you provided is a nice example.

We are guided by the patterns shown in the data--once a prosecutor who thinks outside of the current binary is elected/appointed, we can put it in. Until then, it will just be filtering empty (but relevant) data.

This is a gre

[2020-10-04 14:57] shariq1989 commented on #113
I'd like to pursue this. I think checkboxes would be a good solution

[2020-10-04 15:50] fedGL commented on #80
Question: I cloned the repo and I got my CSV ready to convert to JSON as it says in the instructions. Where should I put this? I see a folder called "🔥 100 DISTRICT ATTORNEYS 🔥" with a folder inside named "Your-State-Here" and csv and json files inside. I'm assuming that's the correct place?
Also, for the "Your-State-Here", what convention are you following for states with two words? Do we hypen t

[2020-10-04 15:57] billimarie commented on #80
@shariq1989 Great tip! If you have the bandwidth, can you update the [HACKTOBER2020.md](https://github.com/billimarie/prosecutor-database/blob/master/HACKTOBER2020.md) file with those instructions?

@fedGL Wonderful. You can place it in the `100 District Attorneys` folder & stick with the abbreviated states (ex: "CA" or "NY"). I will update the instructions to show the naming conventions.

[2020-10-04 15:58] megabyte98 commented on #110
Can you please assign this issue to me?
I would like to try it

[2020-10-04 16:01] billimarie commented on #112
@CodeSmitty That's okay! I didn't understand it when I first started, either. You can use this ticket to ask any questions.

How far along in the process are you? Are you able to see a local version of the website? Let me know where in the instructions you got stuck & I can guide you from there.

[2020-10-04 16:08] billimarie opened #127 "[CODE] Convert Iron Router to Flow Router"
It looks like [Iron Router](https://github.com/iron-meteor/iron-router) hasn't been updated since 4 years ago. If there is a way to remove it & add [Flow Router](https://github.com/VeliovGroup/flow-router/) instead, that would help numerous bugs--including one where we can't click on the attorney card to view the attorney profile.

[2020-10-04 16:11] billimarie opened #128 "[DESIGN] Main Filter"
What should the filtering system look like?

Currently, it utilizes a tab structure:

<img src="https://user-images.githubusercontent.com/6895471/94997543-bb29a500-0560-11eb-815d-bb9ffc0b07fd.png" />

Considering the variety of data to filter through (location, demographics, party, etc.), what is the best way to construct a responsive, user-friendly view?

[2020-10-04 16:12] billimarie commented on #105
For everyone working on the design, here is a great point brought up by @Zoe7:

If you have the bandwidth to share your thoughts, please feel free to comment on #128.

[2020-10-04 16:40] billimarie commented on #110
Hi @megabyte98, thanks for volunteering. Feel free to reach out if you have any questions.

[2020-10-04 16:48] billimarie commented on #113
Hi @shariq1989, thanks for volunteering. I have assigned you to this issue; please feel free to reach out if you have any questions.

You might want to take a look at #125, which is the checkbox for genders.

[2020-10-04 16:49] billimarie commented on #115
Hi @erinborders, wonderful--I have assigned you to both issues. Please feel free to reach out if you have any questions.

[2020-10-04 16:50] billimarie commented on #109
Hi @erinborders, can you leave a comment? That way I can assign you (GitHub's requirement).

[2020-10-04 17:59] CodeSmitty commented on #112
I was able to render the website on my localhost. I was able to console.log the value of the slider changing. But I don't know how to implement it. To render it on screen or to save it to compare to your attorneys.

`Template.currentProsecutors.events({
  "change .slider"(event) {
    event.preventDefault()
    let value = event.target.value;
    console.log(value, "id");

  },
});`

[2020-10-04 18:06] billimarie opened #130 "[APP] Force SSL"
A lot of the images we are hotlinking to are https. Is there a method we can use to force https?

[2020-10-04 18:16] billimarie commented on #112
That's great. Can you push your local work to your forked repository? That way I can pull it down & take a look.

[2020-10-04 18:21] CodeSmitty commented on #112
will do

[2020-10-04 18:23] CodeSmitty commented on #112
pushed.

[2020-10-04 18:24] billimarie opened #131 "[CODE] Fix "Relevant Cases" to match "Articles""
This is a great issue for a beginner.

Essentially, we need a new template for "Relevant Cases" to match the "Articles" view. You can find these files under `client > template > sections`.

(On a related note, the templates need to be cleaned up using best practices for folder structure. I may have overridden a previous change by accident; if you have a moment to clean the `template` folders, plea

[2020-10-04 18:48] billimarie commented on #112
Lovely; I will make time to take a look at it by the end of today.

[2020-10-04 19:10] billimarie commented on #112
@CodeSmitty I am unable to see your changes; can you try again? You can also create a new branch for this issue & push it up to the main repo for me to checkout.

[2020-10-04 20:39] nataliepina commented on #131
Hi there, i'd like to be assigned to this :)

[2020-10-04 21:17] billimarie commented on #105
Hi everyone, just a quick update: @AnjanaMA has done a stellar job creating visual mock-ups. For anyone who would like to help, email me & I'll send over an invite.

If you would like to submit your design(s) as a pull request, I have updated this issue with instructions on how to do so.

[2020-10-04 21:33] billimarie commented on #131
Hi @nataliepina, thank you for volunteering. Please feel free to reach out if you run into any issues.

[2020-10-04 21:59] billimarie opened #135 "[FEATURE] SEO"
If you know anything about SEO & JavaScript apps like Meteor (what we currently use), it would be incredibly helpful to start adding SEO metadata so that search engines can properly find the content.

[2020-10-05 01:52] CodeSmitty commented on #112
It's in the hacktoberfest2020 branch. https://github.com/CodeSmitty/prosecutor-database/blob/hacktober2020/imports/startup/client/index.js

My apologies it took so long. I just got done with work.

[2020-10-05 02:39] jeelpatel17 commented on #135
Hey there! I perfectly can do the SEO, but I'm not quite aware of Meteor.js, I can add all the necessary meta tags, and improve the site loading speed(it also helps in boosting the site SEO). Waiting for your response.

[2020-10-05 05:16] Capt-Titanium commented on #128
can i work on this issue?

[2020-10-05 05:30] Octateam commented on #104
Hello @billimarie can I also work on this issue

[2020-10-05 05:31] Octateam commented on #105
Is it too late to join on this issue ?

[2020-10-05 05:35] janel-developer commented on #80
Hi @billimarie - I was just having a poke around the internet to see if I could find any data sources we could use and I found this api - https://www.courtlistener.com/api/rest-info/

Have you seen it? I thought I might send them a message and ask about access to the attorneys endpoint - which doesn't have public access. I thought I'd ask them what kind of data is there. I looked at the people and

[2020-10-05 06:28] michaelknowles commented on #130
I would advise that we not hotlink to other websites' images.  This is stealing their bandwidth and opens the website up to abuse.  For example, if we are using another website's image, they could change that image to whatever they want (i.e. something inappropriate) while keeping the same URL so that we show it on our website unknowingly.

Instead, we should be uploading our own versions/copies o

[2020-10-05 06:39] michaelknowles commented on #127
I can take a look at this one

[2020-10-05 08:32] KeshriAyushi22 commented on #115
would like to contribute as well, can u assign this to me

[2020-10-05 13:34] billimarie commented on #135
Lovely, thank you for volunteering. I assigned you this issue; feel free to reach out if you run into any issues setting up.

[2020-10-05 14:10] billimarie opened #142 "[HACKTOBER] Separate `app` from `data`"

[2020-10-05 14:22] billimarie commented on #80
Hello @janel-developer, thank you for researching data sources--would make this project a lot easier. I had not come across that api. It would be amazing if you could reach out. Would you like me to assign a dedicated issue for you? I appreciate your research on this.

[2020-10-05 14:31] billimarie commented on #130
Hi @michaelknowles, I agree. A few years back, we used [Sirv](https://sirv.com/) for image hosting. The only problem was we were slowed down in our data collecting by having to save, upload, & tag each image.

We then shifted to a model where images were stored on GitHub in a folder called `headshots`; a little bit faster, but again, the data import was slowed due to the need to organize the image

[2020-10-05 14:33] billimarie commented on #127
Wonderful; I have assigned you this ticket. Feel free to reach out if you come across any issues.

[2020-10-05 14:39] billimarie commented on #105
@Octateam Not too late--feel free to email me (see my profile) & I will invite you to the Figma document.

[2020-10-05 14:40] billimarie commented on #104
@Octateam Thanks for volunteering. Feel free to take a look at the designs we currently have; you can send me an email to be invited to our Figma document (link in profile).

[2020-10-05 14:42] billimarie commented on #112
No worries! I am pinging both @Zoe7 & @shariq1989, who worked on the code for the `roles` & `race` filters. Can either of you help?

[2020-10-05 14:44] billimarie commented on #115
Hi @KeshriAyushi22, as this one is already assigned, I'd like to redirect you to the `ageRange` filter: #112. We need help implementing it; can you leave a comment there so I can add you as an assignee? Thanks for volunteering to contribute.

[2020-10-05 15:02] shariq1989 commented on #113
I forgot to link this to the PR (is that what you are supposed to do?).

[2020-10-05 15:03] shariq1989 commented on #112
@billimarie @CodeSmitty I might be able to take some time out this evening or tomorrow to look at this. Until then, I'd recommend that you check out my PR (specifically the changes to currentProsecutors.js, that is where UI is being wired to the db aka backend logic is)

https://github.com/billimarie/prosecutor-database/pull/140

[2020-10-05 15:22] Octateam commented on #105
Thanks, sending you a mail right away

[2020-10-05 15:46] billimarie commented on #113
Absolutely no worries; I can close this issue officially.

If you want to be fancy in the future, just use a keyword like "fixes," "resolves," or "closes" in your PR, then tag the issue number. It will close the issue once merged automatically. [(more info)](https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords)

[2020-10-05 15:47] billimarie commented on #113
Closed with #140

[2020-10-05 15:47] #113 closed

[2020-10-05 15:47] #142 closed

[2020-10-05 16:01] billimarie opened #144 "[DATA] Sanitize "Additional Filter" data"
Note to self: now that additional filters are part of the live web app, go into the database & sanitize the data so that it properly shows up.

[2020-10-05 16:20] jeelpatel17 commented on #135
@billimarie Great! Can you just add a short description of what's the project about? either in the readme or as a separate text file. Because SEO is all about describing the website as clear as you can, the more clear and optimized it is, the better. Hence, I'll first need to understand it myself, then I can explain it to Google. Waiting for your response.

[2020-10-05 16:55] billimarie commented on #135
@jeelpatel17 Wonderful question. Here's our current description from the [DOCS.md](https://github.com/billimarie/prosecutor-database/blob/master/DOCS.md) file. You can review the entire document for the overview, history, & additional project notes to gain context of the website.

[2020-10-05 18:06] Zoe7 commented on #112
@CodeSmitty
I also struggled quite a bit understanding how to bind the data from the events to some sort of state in meteor. As far as I understood from the meteor docs and my whole great afternoon of experience with the framework (so take my advice with a grain of salt, I have no clue what I am doing either 😅), you can use `ReactiveDict` to do that. It's not exactly a super clean way to do it (co

[2020-10-05 20:29] janel-developer commented on #80
Happy to help! I've sent a message to see what I can find out.

It would be great to use a dedicated issue for this. I'I'd be happy to write something that just pulls and formats data as json on the server side.

[2020-10-05 22:16] billimarie opened #145 "[FEATURE] Research & Implementation: Data Sources"
Tracking alternative data sources which our project might be able to use. This would solve the issue of having to manually find data. Led by @janel-developer, who discovered the [CourtListener api](https://www.courtlistener.com/api/rest-info/).

Might be helpful to look at scripts we developed several years ago:

- Court Parsing script: https://github.com/billimarie/prosecutor-database/pull/24
- W

[2020-10-05 22:17] billimarie commented on #80
Wonderful--when you have a moment, can you leave a comment on the issue so I can assign it to you? See: #145

[2020-10-06 02:15] janel-developer commented on #145
Thanks! I’ll have a look at the scripts too :)

[2020-10-06 02:31] jSadoski opened #150 "[CODE] Create Unit Tests, Consider Continuous Integration"
**Is your feature request related to a problem? Please describe.**
This project is quickly acquiring collaborators, and tests will help align the outcomes of our work and hopefully make @billimarie's role a little easier!

**Describe the solution you'd like**
Write [Mocha](https://atmospherejs.com/meteortesting/mocha) Unit Tests as per [Meteor/Testing](https://guide.meteor.com/testing.html). This

[2020-10-06 03:10] michaelknowles commented on #130
It looks like people are just supplying links to images in the JSON.

[code]

Can you explain how this JSON is then getting uploaded into the database?  Ideally, we'd have a script that is uploading this data.  The same script would fetch the linked image, transform it, then store it somewhere.

As for where to store the images, there are a couple options:

- Github - Not recommended. 5gb size lim

[2020-10-06 05:18] KeshriAyushi22 commented on #112
Hi, @billimarie I can give it a shot, i don't know how meteor works but still I will play around once and try to figure out. Can u plz assign this to me?

[2020-10-06 07:08] michaelknowles commented on #127
I've implemented Flow Router.  Do you have a list of bugs that I can check to ensure they've been fixed by this change?

[2020-10-06 11:24] billimarie commented on #150
Yes. Absolutely lovely--thank you for your initiative.

(Re: Continuous testing) We currently use Heroku as our host for the web app; I have not done much research into their CI but I do know they have a robust one: [HerokuCI](https://www.heroku.com/continuous-integration). If you'd like, please feel free to create a new issue!

[2020-10-06 11:28] billimarie opened #151 "[DESGIN] Previous Prosecutors"
Within each Attorney Profile view, there is a "Previous Prosecutors" section:

<img width="506" alt="Screen Shot 2020-10-06 at 4 22 01 AM" src="https://user-images.githubusercontent.com/6895471/95196042-4b97fd80-078c-11eb-85bf-7d22f0716444.png">

As with the Attorney Profile itself along with the Attorney Cards on the homepage, this "Previous Prosecutors" section must be redesigned to match our ne

[2020-10-06 11:30] billimarie commented on #105
Hello everyone, just a heads up that there is a new issue for the "Previous Prosecutors" section on the Attorney Profile: #151

[2020-10-06 11:43] billimarie opened #152 "[CODE] Previous Prosecutors"
In tandem with the Design issue (#151), the unix timestamp must be converted into a user-friendly format:

<img width="506" alt="Screen Shot 2020-10-06 at 4 22 01 AM" src="https://user-images.githubusercontent.com/6895471/95196042-4b97fd80-078c-11eb-85bf-7d22f0716444.png">

You can take a look at how the `appointed` code is rendered on the Attorney Cards.

This is a great issue for a beginner. If

[2020-10-06 13:13] fedGL commented on #60
I'm looking at this issue, and I think I'm getting a little confused? The page already has this:
![image](https://user-images.githubusercontent.com/30448072/95204519-36ce6080-07b2-11eb-8f04-664a3ae7119a.png)

So I think what you want is to filter by AG in California for example? Or you want the filtering to happen inside a prosecutor's card? Because by region or state, I guess we could check one t

[2020-10-06 16:06] radhikasharma23 commented on #105
I'd be glad to help as well :)

[2020-10-06 16:51] billimarie commented on #130
It sounds like writing that kind of script is the first step. An older scrapper I wrote might be able to be tweaked. It stripped necessary data from local prosecutor websites. You can find it here: https://github.com/billimarie/prosecutor-database/blob/501ef012324d3d11f520bb9aeeb334beb32f4278/README.md#optional-python-script

Your work might crossover with @janel-developer, who is researching alte

[2020-10-06 16:51] billimarie commented on #145
Tagging @michaelknowles, who is interested in scripts to replace our current manual process.

[2020-10-06 16:55] billimarie commented on #127
Hi @michaelknowles, thank you for taking the lead on this. Unfortunately I did not have a chance to update this issue (which was created before this PR: #129). As of now, there are no bugs which we can discern are caused by Iron Router; in your expertise, which router is working best? I have an inkling Flow Router is the better option due to its more recent updates, but I am curious if there's any

[2020-10-06 17:00] blambert1080 commented on #152
Hey do you mind if I take this one?

[2020-10-06 17:14] michaelknowles commented on #130
We can keep this as two separate scripts:

- Scrape data into JSON format
- Upload JSON data and images

That way we can work in parallel and will also ease development of unit tests.

[2020-10-06 17:23] michaelknowles commented on #145
@Janel-developer I was thinking we would have two scripts. One to scrape data into some format, probably the existing JSON format. The other to upload the data into the DB and images into the CDN.

This way we can develop, test, and run these processes independently.  This will also make it easier to inspect data before uploading, if needed.

What are your thoughts?

[2020-10-06 17:29] billimarie commented on #130
Sounds good! Which would you like to work on first? Feel free to create an issue if you have time.

[2020-10-06 17:30] billimarie commented on #152
@blambert1080 thank you for volunteering to contribute. I have assigned this issue to you; feel free to reach out if you have any questions.

[2020-10-06 17:31] billimarie commented on #135
Thank you @jeelpatel17 for getting us started with #147.

[2020-10-06 17:31] michaelknowles commented on #130
Lets see what discussion happens on that other issue first. I don't want to create duplicate or conflicting work.

[2020-10-06 17:55] blambert1080 commented on #152
Do you have any data that I can upload with previous prosecutors. I couldn't find any data to load in my local to test but I may be missing it.

[2020-10-06 19:28] #152 closed

[2020-10-06 19:35] billimarie commented on #130
@michaelknowles That issue is not for creating scripts; it is for researching data sources.

[2020-10-06 20:22] billimarie commented on #112
Hi everyone, thank you for the brilliant collaboration & conversation. I did some quick updates (please excuse my direct commit to master) to get the `ageRange` filter as checkboxes working. @CodeSmitty if you feel like giving the slider another shot, feel free! If not, @KeshriAyushi22 can give it a try. No rush.

[2020-10-06 20:49] CodeSmitty commented on #112
@billimarie I'll keep messing with it, but if @KeshriAyushi22  wants it. He can definitely take it. It was still a learning experience for me. :)

[2020-10-06 21:06] michaelknowles commented on #130
Ah got it. In that case, I can work on the upload script first. I'm assuming the data will be stored in the same JSON format.

[2020-10-06 21:10] janel-developer commented on #145
That makes sense to me @billimarie

I've gotten a response back from Mike Lissner from the CourtListener project. He is going to give me access to the attorneys endpoint and I'll have a look at what is there. I also asked if he could point me to anything that describes the data they are collecting - there is a lot of it and I don't want to make assumptions about what it represents exactly.

Curren

[2020-10-06 21:35] billimarie commented on #112
The more the merrier!

The `ageRange` checkboxes aren't working in tandem with the other filters; that might be a good first place to start before tackling the slider.

[2020-10-06 21:48] CodeSmitty commented on #112
Yea, I just noticed the checkboxes when I tried to PR what I had see if if I was in the right direction.
https://github.com/CodeSmitty/prosecutor-database/commit/09bb8214227906d78b619a507217f585f33c6ba0
That is what I have to far. I'll re pull what is currently on there though and see what we can get.

[2020-10-06 23:33] solisedwin commented on #135
If you need help , @jeelpatel17 , or bounce any ideas on improving the website SEO. I will be more than willing to help.
Just let me know. Thanks.

[2020-10-07 01:33] jeelpatel17 commented on #135
@billimarie Can you just add a label of 'hacktoberfest-accepted' on my PR?

[2020-10-07 01:34] jeelpatel17 commented on #135
@solisedwin Yeah sure, I will. Thanks!

[2020-10-07 01:36] jeelpatel17 commented on #135
@billimarie It was a very warm welcome to the Open Source Community, Thank you!

[2020-10-07 03:10] michaelknowles commented on #127
I'm not an expert on Meteor but I don't see a reason to use an abandoned library.  Even if we don't have problems now, it's probably good to change before the website gets bigger and more complicated.

[2020-10-07 03:13] rebekris commented on #9
Hi! Can I still join the team of ui designers?

[2020-10-07 15:29] purnima143 commented on #151
Can I work on this issue @billimarie

[2020-10-07 15:42] billimarie commented on #151
Hi @purnima143, thank you for volunteering. Please email me (email is on my profile) & I will invite you to our Figma design.

In the meantime, you can read through #105 to learn more about our design efforts.

[2020-10-07 15:44] billimarie commented on #9
Hi @rebekris, thank you for volunteering. Please email me (link in profile) & I will invite you to our Figma design.

In the meantime, please review #105, which goes over our goals for the website design update.

[2020-10-07 18:01] billimarie commented on #128
Hi @Capt-Titanium, just a heads up: the filters have been updated due to new code.

[2020-10-07 18:14] AnjanaMA commented on #128
im willing to work on the filter design 👍

[2020-10-07 19:48] #61 closed

[2020-10-08 23:56] erinborders commented on #109
Sure! Sorry I just saw this second comment

[2020-10-09 22:28] janel-developer commented on #145
Just an update - I've looked at the court listener data but it is really about judges and opinions. There is people data there - and some of those people are district attorneys, but it isn't really useful for us here.

I'm going to spend a little time trying to find other data sources. If I can't find one, I can help @michaelknowles on improving scraping and uploading scripts.

[2020-10-09 22:45] janel-developer commented on #145
@billimarie - can you tell me more about the court parsing script  I had a look at that commit and it looks like its for a rails app from the LadyHacks2017 repo.

As I'm looking for data sources, I can collect urls for sites that may be easy to scrape, in case I can't find a useful api out there. I can just list those in this issue, unless you want to create (or already have) another issue for scr

[2020-10-12 09:17] megabyte98 commented on #110
sorry for the delay I have my exams going on  so can you please give me some time to work on it .

[2020-10-14 01:17] adamellsworth commented on #62
I've been really overburdened with work these past few weeks and may not be able to address this in a reasonable time-frame. If you'd like to find someone who can devote more time to this issue please do so.

[2020-10-14 20:00] jSadoski commented on #60
@fedGL I wonder too. Maybe there's a case for re-structuring the data so that there's a one-to-many relationship where one role object has many prosecutors, with one flagged as current and using election date as the "default sort" on the rest of them? This may make continuity of a specific position a little more clear.

[2020-10-14 20:06] jSadoski commented on #105
I haven't seen any updates to the figma board recently. I'd be happy to take on implementing this style. Please let me know if I should open a PR!

[2020-10-25 06:01] michaelknowles commented on #127
#158

[2020-11-12 22:07] spavitra1 commented on #150
Hi, I would like to work on developing unit tests.

[2020-11-12 22:08] spavitra1 commented on #60
Hello, I would like to work on this feature.

[2020-11-12 22:13] spavitra1 commented on #110
Hello, please let me know if I can work on this issue as well.

[2020-11-12 22:19] spavitra1 commented on #63
Please let me know if I can work on this issue as well.

[2020-11-12 22:22] micohrocode commented on #63
I do have a pull request open for this issue at the moment. #163

[2020-11-12 22:30] spavitra1 commented on #62
I would like to work on this if help is still needed.

[2020-11-18 09:10] ahsanbagwan commented on #150
@jSadoski @billimarie I would like to take up work on further unit tests if needed. Looks like the PR and merging activity isn't going forward. Is the development not active for this project?

[2020-11-20 22:21] jSadoski commented on #150
@ahsanbagwan I have a few more commits queued up pending the approval of that PR. I have not seen any activity on this project since Hacktoberfest ended.

[2020-12-03 01:34] chaugaialberteinstein opened #171 "Htn"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-15 17:38] riiniii commented on #131
Hi @billimarie @nataliepina is this one still active? Would like to code this through with a friend if not for her first open source contribution 😃

[2021-02-06 09:26] lisaood commented on #80
Hello, I am a student in 3rd year of computer science license degree, I would like to contribute to your project . thank you

[2021-02-06 11:16] lisaood commented on #115
Hello , I am currently a student in my 3rd year computer science degree in France.I would like to contribute to this improvement or Directed me to another possible contribution.

[2021-06-08 07:18] prsmahajan commented on #151
Hi, I would like to work on this issue, Can I get started with this?

[2021-09-03 03:57] gouravmohanty7070 commented on #131
Hey! Can I work on it?

[2021-09-03 03:58] gouravmohanty7070 commented on #144
If you would brief me more about the issue, I would love to work on it!

[2021-09-23 16:49] k-garrido commented on #80
Hi there!
My is Katherinne Garrido, I'm student of Laboratoria and I really would like to contribute to this project, will there be another hacktober for 2021?
Greetings :)

[2021-10-15 00:50] konpyuta commented on #105
Is this still being worked on design-wise or coding-wise?

[2022-01-15 07:57] Rishabh32700 commented on #55
hey i want to work on this issue i.e. #55

[2022-01-25 15:49] HallowedDust5 commented on #80
Was this only for Hacktober 2020, or is this issue still open?

[2022-03-31 16:34] divyangana009 commented on #151
**Hi, I would like to work on this issue, Can I get started with this?**

[2022-05-12 00:44] jaas666 commented on #115
Is this still an issue or can it be closed? Seems stale.

[2022-05-13 18:31] jaas666 commented on #63
PR #163 looks like would solve this issue but haven't been merged in over a year.

Is this repo abandoned?

[2022-07-10 12:11] Harsh-Shedge commented on #151
Hi, is this issue up for grabs?

[2022-08-31 18:22] mahiaash commented on #80
Hi,
I'm Mahia Asha and I was hoping to add to the project? Can I add more district attorneys or complete ones that exist? Is there anyway I could help? Please let me know!

[2022-09-03 05:20] Vishrut19 commented on #104
Hey @Octateam @prajeshkumarg I am new to open source but I would like to contribute can I help you out with the work assigned to you?

[2022-09-26 19:23] KamauDev-maker commented on #115
is this still an issue on adding a location/ country using filter or populated

[2022-10-02 01:55] moezmustafa commented on #135
i want to work on this , can you assign me the task . i can start right away

[2022-10-02 05:14] Techiton commented on #56
Hey there, I am willing to help add features which use d3.js. I just need some clarification on what you want.

[2022-10-02 19:42] chehe040 commented on #128
Can I work on this?

[2022-10-07 14:29] Ayushbajpai19 commented on #128
I would like to work on this issue.

[2022-10-07 14:30] Ayushbajpai19 commented on #105
I would like to work on this issue, if this is free

[2022-10-10 08:51] Omkar0803 commented on #9
Hey @billimarie  I would like to contribute, can you assign me this issue.

[2022-10-10 08:52] Omkar0803 commented on #110
Hey, @billimarie  I would like to contribute, can you assign me this issue?

[2022-10-10 08:52] Omkar0803 commented on #114
Hey, @billimarie  I would like to contribute, can you assign me this issue?

[2022-10-10 08:52] Omkar0803 commented on #112
Hey, @billimarie  I would like to contribute, can you assign me this issue?

[2022-10-13 19:09] Devchawla2608 commented on #151
Hi, I would like to work on this issue, Can I get started with this?

[2022-10-18 23:28] Olorunsolavictor commented on #105
still open? I am glad to help!

[2022-11-15 04:24] joshl26 commented on #151
I can work on this issue!

[2022-11-15 04:25] joshl26 commented on #56
Can help with this